.power{
    width: 100%;

    
    background: rgb(60, 3, 70);
    border: 1px solid rgba(199, 31, 233, 0.588);
    box-shadow: inset 0px 0px 6px 3px rgba(164, 149, 149, 0.25);
    backdrop-filter: blur(7px);

    &__wrapper{
        width: 1400px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    &__h1{
        width: 553px;
        height: 114px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 38px;
        /* or 119% */
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: -0.0004em;
        color: #FFFFFF;
        flex: none;
        order: 0;
        flex-grow: 0;

    }
}
@media (max-width: 900px) {
  .power__wrapper {
    width: 80%;
    flex-direction: column;
    padding: 0 20px;
    text-align: center;
  }

  .power__h1 {
    width: 80%;
    font-size: 22px;
    line-height: 28px;
  }

  .power__img-1,
  .power__img-2 {
    width: 80%;
    height: auto;
  }
}
